.navbar{
    background-color: linear-gradient(rgb(111, 180, 177), rgb(233, 92, 92));
    background-image:  linear-gradient( rgb(111, 180, 177),rgb(233, 92, 92));
}
body{
    background-color: linear-gradient(rgb(111, 180, 177), rgb(233, 92, 92));
    background-image:  linear-gradient( rgb(111, 180, 177),rgb(233, 92, 92));
}