.register-container {   font-family: Arial, sans-serif;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background: linear-gradient(rgb(111, 180, 177), rgb(233, 92, 92));
}
form {
    background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: rgb(233, 92, 92);
}

input,select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background: rgb(111, 180, 177);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background: rgb(52, 167, 196);
}

small{
    color:#dc3545;
}
.error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
}

.success-message {
    color: #28a745;
    font-size: 14px;
    margin-top: 5px;
}
